body{
    background-color: bisque;
}

table{
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td{
    border: 2px solid black;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#dwlab,#awdlab,#cnlab{
    background-color: rgba(4, 247, 166, 0.881);
}

#cnlec,#unilec,#awdlec{
    background-color: gray;
}

#dwlec{
    background-color: magenta;
}

#awdwk{
    background-color: orangered;
}

#uniprac{
    background-color: skyblue;
}

#dwlab:hover,#awdlab:hover,#cnlab:hover{
    background-color: greenyellow;
}

#awdwk:hover{
    background-color: orange;
}

#dwlec:hover{
    background-color: pink;
}

#uniprac:hover{
    background-color: lightcyan;
}

#cnlec:hover,#unilec:hover,#awdlec:hover{
    background-color: lightgray;
}